h1, p {
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    background-color: darkviolet;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 670px;
}

#scores {
    color: darkviolet;
    display: flex;
    justify-content: left;
    margin: 0px;
}

#timer {
   display: flex;
   justify-content: right;
   margin: 0px;
}