h1, p {
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    background-color: darkviolet;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 670px;
}